.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Generator {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.Generator-total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Controls {
  max-width: 600px;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.JoyBox-root .css-515r7g {
  display: flex;
  align-items: flex-start;
}

.Error-text {
  display: flex;
  gap: 10px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 100px;
  font-weight: 800;
  font-size: 18pt;
}

.main-image {
  box-sizing: border-box;

  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.Controls-input {
  width: 100%;
  max-width: 400px;
}

.btn {
  position: absolute;
  left: calc(100% - 60px);
  top: 10px;
}

.showPrompt {
  background-color: #000000;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 20px 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 14pt;
}

.main-image-wrap {
  /* height: 100%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.image {
  /* margin-top: 100px; */
  width: 95%;
  max-width: 512px;
  max-height: 512px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loader-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background-color: rgba(127, 127, 127, 0.424); */
}

.imgName {
  width: 80%;
  color: #ffffff;
  font-size: 18pt;
  margin: 10px;
  padding: 10px;
  background-color: #000000;
  border-radius: 20px;
}

.loader {
  color: #000000;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

.title {
  font-size: 18pt !important;
  margin-top: 10px !important;
}

.BoxesTwo-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: -1px;
}

.app-wrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.JoyChip-colorPrimary {
  background-color: #a4d8fd !important;
}

.JoyChip-colorPrimary:hover {
  background-color: #9cd5fd !important;
}

.Chip-two {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  padding: 5px !important;
}

.BoxesTwo-wrap {
  display: flex;
  align-items: center;
}

.Chip-two span {
  max-width: 100%;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  flex-wrap: wrap;
}

.Controls-error {
  font-size: 14pt;
  font-weight: 600;
  color: #990000;
  width: 300px;
  text-align: center;
}

.Chip-Two-name {
  /* height: 100%; */
  /* padding: 10px; */
  padding-bottom: 10px;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-height: 1120px) and (max-width: 1565px) {
  .main-image {
    flex-wrap: nowrap;
    padding-top: 20px;
    justify-content: flex-start;
  }

  .image {
  }
}
@media screen and (max-width: 1920px) {
  .BoxesTwo-img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .BoxesTwo-img {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 1100px) {
  /* .image {
    width: 340px;
    height: 340px;
  } */

  .App {
    width: auto;
  }

  .main-image {
    justify-content: flex-start;
  }

  .Controls {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Controls-error {
    text-align: center;
  }

  .ControlsBtn {
    width: 300px;
  }

  .Accordion {
    width: 100% !important;
  }

  .btn {
    position: absolute;
    right: 0;
    left: calc(100% - 60px);
    top: 10px;
  }

  .imgName {
    color: #ffffff;
    font-size: 14pt;
  }

  .BoxesTwo-img {
    width: 130px;
    height: 130px;
  }

  .Typography-zag {
    margin-left: 10px !important;
  }

  .Radiogrup {
    margin-left: 0px !important;
  }

  .css-19kzrtu {
    padding: 10px !important;
  }
}

@media screen and (max-width: 450px) {
  .BoxesTwo-img {
    width: 100px !important;
    height: 100px !important;
  }

  .RadioGrup {
    justify-content: center;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
